
input[type=file] :hover {
    background: #DA472E;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding-bottom: 50px;
}

.btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.spacingtop {
    padding-top: 30px;
}


